.post-list {
  margin-bottom: 35px;
  padding: 50px 15px;

  border: 2px solid #fff;
  border-radius: 5px;

  &__list {
    > li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
